<!DOCTYPE html>
<html>
  <head>
    <title>myAnimeProfilePic</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>myAnimeProfilePic</h1>
    <p>Welcome to myAnimeProfilePic - Your one stop shop to generating semi-professional anime profile pictures.</p>
    <ol>
      <li> Make a MyAnimeList account and add your anime</li>
      <li> Type in your username below, upload a pic of your face, then click submit</li>
      <li> Be patient, image processing on my EC2 is slower than the <a href="https://en.wikipedia.org/wiki/Pitch_drop_experiment">pitch drop</a></li>
      <li> Go to the link on the next page</li>
    </ol>
    <form action="/user" method="post" enctype="multipart/form-data">
    <input name="name" id="username" type="text" placeholder="myanimelist username" required />
    <input id="face" name="face" type="file" placeholder="Upload a file" required />
    <button id="submitButton" type="submit">Submit</button>
    </form>
  </body>
</html>
