<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>myAnimeProfilePic</h1>
    <p>Welcome to myAnimeProfilePic - Your one stop shop to generating semi-professional anime profile pictures.</p>
    <ol>
      <li> Make a MyAnimeList account and add your anime</li>
      <li> Type in your username below and click submit</li>
      <li> Be patient, image processing on my EC2 isn't blazing fast</li>
      <li> Go to the link below</li>
    </ol>
    <input id="username" type="text" placeholder="your myanimelist username" />
    <button id="submitButton">Submit</button>
  </body>
</html>
