<!DOCTYPE html>
<html>
  <head>
    <title>myAnimeProfilePic</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <p>Your picture has been generated!</p>
    <p>Link below</p>
    <a href="<%= url %>"><%= url %></a>
  </body>
</html>
